body {
  padding: 15px 30px 0px !important;
}
.katex { font-size: 1em !important; }
.problem, .check_answers, .reward {
  max-width: 520px;
  margin-bottom: 30px;
}

.question-number {
  margin-bottom: 12px;
}

.question img {
    max-width: 100%;
    max-height: 100%;
}

.answers {
  margin-top: 12px;
  width: 160px;
}
.white_canvas {
 margin-bottom: 12px;
}
.answers > .buttons {
  width: 100%;
}
.choice {
  text-align: left !important;
}
.button > i {
  height: 100%;
}
.hint {
  margin-bottom: 10px;
}
.intro, .final_score {
  margin-top: 0 !important;
}
.final_score {
  display: none;
}
.reward img {
  width: 100%
}
.index .hint {
  display: none;
}

/* EDITOR */
.editor {
  padding-bottom: 15px;
  width: 100%;
  height: calc(100% - 120px);

}
.input, .output {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}
.output {
  padding-left: 15px;
  overflow-y: scroll;
  background-repeat: repeat;
}
textarea {
  width: 100%;
  height: 100%;
  font-size: 14px !important;
  font-family: monospace !important;
}
.editor .add_hint {
  display: none !important;
}
