body {
  padding-left: 30px !important;
}

.katex { font-size: 1em !important; } 
.problem, .check_answers, .reward {
  max-width: 520px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.question-number {
  margin-bottom: 12px;
}
.question, .answers {
  display: inline-block;
  vertical-align: top;
}

.question {
  width: 300px;
  height: 300px;
}

.question img {
    max-width: 100%;
    max-height: 100%;
}
.answers {
  width: 120px;
  margin-left: 15px;
}

.answers > .buttons {
  width: 100%;
}
.button > i {
  height: 100%;
}
.hint {
  display: none;
  margin-bottom: 10px;
}
.final_score {
  display: none;
}
.reward img {
  width: 100%
}
